<div class="card">
    <div class="card-header">
      welcome
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/logo.jpg"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Tom Victor</h3>
        </div>
  
        <div class="text-center">@tomvictor</div>
        <div class="text-center">
          <a href="http://github.com/tomvictor">http://github.com/tomvictor</a>
        </div>
      </div>
    </div>
  </div>